<div class="navbar mb-5 relative bg-[#ffffff]">
  <nav class="w-full bg-white/70 backdrop-blur-md shadow-md z-[99999]">
    <div class="logo">
      <img src="/favicon.ico" />
    </div>
    <ul class="hidden md:flex md:items-center md:justify-between gap-4">
      <li><a routerLink="/" class="hover:text-[#00bcd4] transition-colors py-2">Home</a></li>
      <li><a routerLink="/about-us" class="hover:text-[#00bcd4] transition-colors py-2">About</a></li>
      <li><a href="#" class="hover:text-[#00bcd4] transition-colors py-2">Shop</a></li>
      <li><a href="#" class="hover:text-[#00bcd4] transition-colors py-2">Contact</a></li> 
    </ul>

    <div class="hidden side-menu md:flex md:items-center md:justify-center md:gap-4 md:relative">
      <div class="search-bar relative">
        <input type="search" name="search-bar" class="z-[999] rounded-full focus:border-none p-[0.5rem 1rem]" id="">
      </div>
      <div class="flex items-center">
        <fa-icon [icon]="faUser" class="p-2 cursor-pointer text-[1.1rem]"></fa-icon>
        <div routerLink="/wishlist" class="relative">
          <span class="absolute top-[-11px] right-0 border border-gray-200 h-[1rem] w-[1rem] bg-[#fff] rounded-full flex
          items-center justify-center text-[12px]">{{likeStore.likeArrayLength()}}</span>
          <fa-icon [icon]="faHeart" class="p-2 cursor-pointer text-[1.1rem]"></fa-icon>
        </div>

        <div routerLink="/my-cart" class="relative">
          <span class="absolute top-[-11px] right-0 border border-gray-200 h-[1rem] w-[1rem] bg-[#fff] rounded-full flex
          items-center justify-center text-[12px]">{{cartStore.cartItemLength()}}</span>
          <fa-icon [icon]="faCart" class="p-2 cursor-pointer text-[1.1rem]"></fa-icon>
        </div>

      </div>

    </div>

    <div class="sideBar z-[999] md:hidden">
      <fa-icon [icon]="faBars" (click)="toggleSideBar()"></fa-icon>
    </div>
  </nav>

  <div *ngIf="sideBar() === true" [class.translate-x-full]="!sideBar()" [class.translate-x-0]="sideBar()"
    class="absolute top-0 right-0 h-screen w-64  bg-[#ffffff] shadow-xl z-[999999999] transform transition-transform duration-500 ease-in-out md:hidden">
    <div class="cross-button px-4 pt-4">
      <fa-icon [icon]="faCross" (click)="toggleSideBar()" class=" cursor-pointer"></fa-icon>
    </div>
    <ul>
      <li class="w-full border-b border-b-gray-300 py-3!"><a href="#" class="px-4">Home</a></li>
      <li class="w-full border-b border-b-gray-300 py-3!"><a href="#" class="px-4">About</a></li>
      <li class="w-full border-b border-b-gray-300 py-3!"><a href="#" class="px-4">Shop</a></li>
      <li class="w-full border-b border-b-gray-300 py-3!"><a href="#" class="px-4">Contact</a></li>
    </ul>

    <div class="side-menu flex-col items-center justify-center gap-4 relative">
      <div class="flex-col items-center">
        <div class="border-b border-b-gray-500  py-3! px-4">
          <fa-icon [icon]="faUser" class="p-2 cursor-pointer text-[1.1rem]"></fa-icon>
        </div>
        <div routerLink="/wishlist" class="relative border-b border-b-gray-500  py-3! px-4">
          <fa-icon [icon]="faHeart" class="p-2 cursor-pointer text-[1.1rem]"></fa-icon>
        </div>

        <div routerLink="/my-cart" class="relative border-b border-b-gray-500  py-3! px-4">
          <fa-icon [icon]="faCart" class="p-2 cursor-pointer text-[1.1rem]"></fa-icon>
        </div>

      </div>

    </div>
  </div>
</div>