<div>
  <app-hero></app-hero>
  <div class="about-us-wrapper p-5">
    <div class="heading font-bold text-4xl py-5 text-center"><h1>About Us</h1></div>
    <div class="about-us-text text-xl pb-[5rem] text-center">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam repellendus magni unde? Voluptatibus, tempore placeat nostrum repudiandae beatae velit est ipsum aperiam voluptatem totam similique alias perferendis obcaecati aut nobis dolor accusantium nihil! Ad cum soluta, aliquam ipsam quasi in sed velit ratione voluptatem blanditiis inventore! Assumenda dolore tempora molestiae repellendus illum molestias quis nostrum exercitationem deleniti laborum, laboriosam quos consectetur perspiciatis facere eos, repellat tempore esse, minima architecto! Rem non enim adipisci maxime ratione velit voluptates quos reprehenderit. Praesentium pariatur neque, sint magnam delectus, provident cumque nesciunt alias rem nisi doloribus repellat, laborum est dolores soluta dicta quaerat.</p>
    </div>
  </div>
</div>