
.footer-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
ul {
  display: flex;
  align-items: start;
  gap: 20px;
  flex-direction: column;
}

ul li {
  padding: 0 20px;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.right-side-container footer{
  display: flex;
}