<div class="button">
  <button class="addtoCart text-[#fff] p-4 rounded cursor-pointer
  bg-[#00bcd4]
    text-white
    py-2 px-3
    rounded-lg
    border-none
    text-lg
    font-semibold
    no-underline
    font-sans
    shadow-[0_6px_12px_rgba(0,0,0,0.3)]
    transition-all
    duration-300
    ease-in-out
    inline-block
    cursor-pointer
    hover:bg-[#00acc1]
    hover:-translate-y-0.5
    hover:shadow-[0_8px_16px_rgba(0,0,0,0.4)]
    active:translate-y-0
    active:shadow-[0_4px_8px_rgba(0,0,0,0.2)]
    active:bg-[#0097a7]">{{text}}</button>
</div>